- var title = "おかしより、ごはんに近いおやつ。SUKUSUKU BALL（スクスクボール）";

doctype htmlhtml(lang="ja")
  head
    meta(charset="UTF-8")
    title #{title}
    meta(name="viewport" content="width=device-width,initial-scale=1,user-scalable=yes")
    meta(http-equiv="x-ua-compatible" content="IE=edge")
    meta(name="description" content="砂糖・塩を使わずお米とおやさいだけでつくった、ごはんのように食べられるお子様向けのパフ菓子「SUKUSUKU BALL」")
    meta(name="keywords" content="子供用,おやつ,お菓子,ベビーフード,離乳食,スナック,パフ,SUKUSUKU BALL,スクスクボール,お米,無農薬,ギフト,ondo,beans")

    link(rel="stylesheet" href="/css/contents.css")

  body
    header#header
      h1.logo-sukusukuball
        a(href="#")
          img(src="/img/logo-sukusukuball.png" alt="おかしより、ごはんに近いおやつ。SUKUSUKU BALL（スクスクボール）")
        svg.ball-corner(viewox="0 0 320 320")
          use(xlink:href="#ball-320")
      nav.nav-header
        div.block-menu
          button.btn-menu.btn
            span.txt-button.txt.lv8.hdn MENU
            svg.ico-menu.ico( xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40")
              path.bar-1(d="M6,9H34a2,2,0,1,1,0,4H6A2,2,0,1,1,6,9Z")
              path.bar-2(d="M6,18H34a2,2,0,1,1,0,4H6a2,2,0,1,1,0-4Z")
              path.bar-3(d="M6,27H34a2,2,0,1,1,0,4H6a2,2,0,1,1,0-4Z")
          div.block-list
            ul.list-menu
              li.consept
                a.txt-menu.txt.lv9.bold(href="#consept")
                  svg.ico-arrow(viewBox="0 0 12 16")
                    use(xlink:href="#arrow-down")
                  | コンセプト
              li.power
                a.txt-menu.txt.lv9.bold(href="#power")
                  svg.ico-arrow(viewBox="0 0 12 16")
                    use(xlink:href="#arrow-down")
                  | お米のパワー
              li.gallery
                a.txt-menu.txt.lv9.bold(href="#gallery")
                  svg.ico-arrow(viewBox="0 0 12 16")
                    use(xlink:href="#arrow-down")
                  | ギャラリー
              li.voice
                a.txt-menu.txt.lv9.bold(href="#voice")
                  svg.ico-arrow(viewBox="0 0 12 16")
                    use(xlink:href="#arrow-down")
                  | みなさまの声
              li.lineup
                a.txt-menu.txt.lv9.bold(href="#lineup")
                  svg.ico-arrow(viewBox="0 0 12 16")
                    use(xlink:href="#arrow-down")
                  | ラインナップ
              li.shopping
                a.txt-menu.txt.lv9.bold(href="#shopping")
                  svg.ico-arrow(viewBox="0 0 12 16")
                    use(xlink:href="#arrow-down")
                  | ショッピング
              li.qa
                a.txt-menu.txt.lv9.bold(href="#qa")
                  svg.ico-arrow(viewBox="0 0 12 16")
                    use(xlink:href="#arrow-down")
                  | Q&amp;A
              li.produce
                a.txt-menu.txt.lv9.bold(href="#produce")
                  svg.ico-arrow(viewBox="0 0 12 16")
                    use(xlink:href="#arrow-down")
                  | 開発について
              li.animal
                a.txt-menu.txt.lv9.bold(href="#animal")
                  svg.ico-arrow(viewBox="0 0 12 16")
                    use(xlink:href="#arrow-down")
                  | どうぶつ図鑑
          div.block-cart

    main

    footer
